body {
    background: #E5F0FE;
}

main {
    /*?*/
}

header {
    background-color: #566700;
}

section {
    background-color: #FF94DB;
}

footer {
    background-color: #B6DB00;
}

article {
    /*?*/
}

h1 {
    
}

h2 {
    /*?*/
}

h3 {
    /*?*/
}

p {
    /*?*/
}
